.btn {
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s, transform 0.25s;
  border: none;
  color: var(--white-color);
  border-radius: 29px;
  font-style: normal;
  font-weight: 400;
}

.btn--small {
  font-size: 16px;
  padding: 10px 25px;
}

.btn--big {
  font-size: 15px;
  text-transform: uppercase;
  padding: 20px 60px;
  box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
}

.btn--accent {
  background: var(--primary-color);
}

@media (any-hover: hover) {
  .btn--accent:hover {
    background: var(--primary-hover-color);
    transform: scale(1.05);
  }
}
