.heading {
  margin-bottom: 40px !important;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
  }

  span {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
  }
}

.line {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
}

.hr {
  width: 100%;
  max-width: 800px;
  margin: 0;
  border: 1px solid #f1f2f3;
}

.line span {
  color: var(--sub-color, #9796a1);
}

.text {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price {
  color: var(--text-color);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.total-count {
  color: #bebebe;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.checkout {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
