.layout {
  display: flex;
  min-height: 100vh;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 400px;
  }
}

.content {
  border-left: 1px solid var(--separator-color);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.backHome {
  align-self: start;
  margin-bottom: 20px;
}

.linkToHome {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 14px;
  text-decoration: none;

  img {
    width: 20px;
  }
}

@media (max-width: 768px) {
  .layout {
    display: block;
  }
  .content {
    border-left: 1px solid var(--separator-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px;
  }
  .logo {
    img {
      max-width: 300px;
    }
  }
}
