:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #f7562a;
  --text-color: #010101;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
